.btn-round { border-radius: 30px; }
.bg-img {
 background-image: url("/assets/doc1.jpg");
background-size: cover;
background-position:center; 
background-repeat: no-repeat;
height: 100 vh;
background-color: rgba(200,100,0,.5); 
background-blend-mode: multiply; 
 }
.text-cyan { color: #35bdff; }

@media (min-width:1025px){
.navbar{
    height:60px;
}
.navbar-nav > li{
   
  padding:25px;
}

/* .navbar-nav ml-auto navright > li {
   padding-right: 47px;
} */
} 

@media (max-width:1024px){
.name {
   padding-right: 47px;
}
} 

@media (max-width:320px){
.name {
  margin-left:-10px;
}
} 

.navright{
    padding: 10px;
}
.logo{
    padding: 0px !important;
    width:30px;
    height:30px;
}

.profile{
    margin-top: 5px;
}
.name{
    margin-top: 11px;
    font-weight: bold;
    /* padding-top: 8px; */
    color: white;
    font-size: 18px;
    margin-right: -28px;
}

#copyright{
    
    font-size:10px;
}

.copy{
    font-size:10px;
}
#sticky-footer{
    bottom: 0;
    height:60px;
    position: absolute;
}

.labels{
    text-align: center;
    font-weight: bold;
}
form{
    width:100%;
}
.schedule{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 31px;
    font-weight: bold;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.loc{
    padding-right: 16px;
}
.login_btn:hover{
color: white;
background-color: black;
}

