<!--Author NAME: Aishwarya Narayanan STUDENT ID: B00820313-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
  
     
      <li class="nav-item active">
        <a [routerLink]="['/home']" class="nav-link">Home</a>
      </li>
    
        <li class="nav-item ">
        <a [routerLink]="['/signup']" class="nav-link">Sign Up</a>
      </li>
    </ul>

    <!-- <ul class="nav navbar-nav ml-auto navright">
     <li>
        <p class="name"> Rodrick Paul </p>
      </li>
      <li>
        <div class="btn-group profile">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-user" aria-hidden="true"></i>
  </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Profile</button>
            <button class="dropdown-item" type="button">Help</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" [routerLink]="['/home']" type="button">Logout</button>
          </div>
        </div>
      </li>
    </ul> -->
  </div>
</nav>
<div class="container">
  <h1 style="margin-top: 2.5cm; text-align: center">FORGOT PASSWORD</h1>
     <div class="d-flex justify-content-center h-100">
      
      <div style="margin-top: 25px" class="card">
        <div class="card-body">
          <form action="/login" name="forgotpassword">
            <div class="form-group cardbody">
              <label class="control-label">Email Address</label>
              <input type="email" class="form-control" id="email" required>
              <div *ngIf="enull" style="color:red">
                Email is required
              </div>
              <div *ngIf="einvalid" style="color:red">
                Invalid email id.
              </div>
            </div>
                    
            <div class="form-group">
              <button type="submit" (click)="validate()" class="btn float-right login">Retrive Password</button>
            </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>

   
      