/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

.selectordoctor {
background-image: url("assets/doctorsbg.jpg");
background-size: cover;
background-position:center; 
background-repeat: no-repeat;
height: 100 vh;
font-family: 'Numans', sans-serif;
   }

   .selectpatient {
background-image: url("assets/patientbg.jpg");
background-size: cover;
background-position:center; 
background-repeat: no-repeat;
height: 100 vh;
font-family: 'Numans', sans-serif;
   }
   .healthcare{
      background-image: url("assets/healthcare.jpg");
background-size: cover;
background-position:center; 
background-repeat: no-repeat;
height: 100 vh;
font-family: 'Numans', sans-serif;
   }
.registerNew{
background-image: url("assets/register2.jpg");
background-size: cover;
background-position:center; 
background-repeat: repeat;
height: 100 vh;
font-family: 'Numans', sans-serif;
   
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
